.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.navbar-brand {
  flex: 0 0 auto;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 200px;
  z-index: 1000;
  display: none;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 16px;
  color: #333;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
